* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
}
table.game {
}
table.board {
    table-layout: fixed;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid rgb(140, 198, 183);
}
.board td.int {
    width: 36px;
    height: 36px;
    border: 1px solid rgb(140, 198, 183);
    padding: 0;
    margin: 0;
}
.board td.nscore {                    /* normal score field */
    background-color: rgb(23, 149, 135);
}
.board td.dlscore {                   /* double letter score field */
    background-color: rgb(155, 188, 229);
}
.board td.tlscore {                   /* triple letter score field */
    background-color: rgb(42, 132, 210);
}
.board td.dwscore {                   /* double word score field */
    background-color: rgb(243, 176, 147);
}
.board td.twscore {                   /* triple word score field */
    background-color: rgb(231, 62, 23);
}
.board td.ext {
    width: 36px;
    height: 36px;
    background: rgb(0, 72, 68);
    color: rgb(113, 189, 189);
    text-align: center;
    font-family: sans-serif;
}
div.tile {
    width: 35px;
    height: 35px;
    color: rgb(27, 112, 105);
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    letter-spacing: 0;
    word-spacing: 0;
    padding: 3px;
    margin: 0;
}
div.tile sub {
    font-size: 10px;
}
div.ntile {                     /* normal tile */
    background-color: rgb(254, 244, 183);
}
div.atile {                     /* active tile */
    background-color: rgb(255, 215, 0);
}
table.rack {
    width: 460px;
    height: 51px;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
}
.rack td {
    width: 43px;
    height: 43px;
    background: rgb(23, 149, 135);
    padding: 8px;
}
table.buttons {
    margin: auto;
}
button.pbutton {
    color: rgb(0, 72, 68); /* rgb(27, 112, 105); */
    background-color: rgb(254, 244, 183);
    padding: 10px 24px;
    border-radius: 8px;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
}
table.mydlotable {
    table-layout: fixed;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid rgb(140, 198, 183);
}
.mydlotable td {
    width: 36px;
    height: 36px;
    border: 1px solid rgb(140, 198, 183);
    padding: 0;
    margin: 0;
}
#idexchgtab0, #idexchgtab1 {
    margin-top:20px;
}
table.exchgrack {
    width: 357px;
    height: 51px;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
}
.exchgrack td {
    width: 43px;
    height: 43px;
    background: rgb(23, 149, 135);
    padding: 8px;
}
#scrabble {

}
#idleftpanel {
    float: left;
}
#idrightpanel {
    float: left;
    margin-left: 50px;
    margin-top: 60px;
    padding: 10px;
    border:1px solid black;
}
#idletterlist {

}
table.letterlist {
    table-layout: fixed;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid rgb(140, 198, 183);
}
.letterlist td {
    width: 36px;
    height: 36px;
    color: rgb(27, 112, 105);
    border: 1px solid rgb(140, 198, 183);
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}
.letterlist td sub {
    font-size: 10px;
}
.letterlist td.notplayed {
    background-color: rgb(254, 244, 183);
}
.letterlist td.played {
    background-color: rgb(255, 215, 0);
}
#idpoints {

}
table.points {

}
.points td.left {
    text-align: left;
}
.points td.right {
    text-align: right;
}
.points tr td:empty {
    width: 10px;
}
div.wordlist {
    width: 380px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    border:1px solid black;
}
.wordlist span.player {
    color: rgb(27, 112, 105);
}
.wordlist span.opponent {
    color: rgb(231, 62, 23);
}
/** settings */
#set-main {
    font-family: sans-serif;
    font-style: normal;
    color: rgb(27, 112, 105);
    background-color: rgb(254, 244, 183);
    padding: 25px;
    border: solid 1px rgb(27, 112, 105);
    margin: 25px;

}
#set-main div {
    text-align: center;
}
#set-main h1 {
    text-align: center;
    font-size: 32px;
    color: rgb(27, 112, 105);
    background-color: rgb(254, 244, 183);
    border: solid 1px rgb(27, 112, 105);
    margin-bottom: 1em;
}
#set-main fieldset {
    padding: 25px;
    border: solid 1px rgb(27, 112, 105);
    margin: 25px;
}
.set-radio-label,
.set-radio-label:hover,
.set-radio-label:active,
.set-radio-label:disabled,
.set-radio-label:enabled {
    background-color: rgb(254, 244, 183);
    color: rgb(27, 112, 105);
    border-color: rgb(231, 62, 23);
}
.set-controlgroup-item,
.set-controlgroup-item:active {
    border-color: rgb(27, 112, 105);
}
